#speed-car {
    position: absolute;
    right: 0.05vw;
    bottom: 0.05vw;
}

#speed-text {
    font-family: 'Font 700';
    color: #2a4ed6;
    position: absolute;
    right: 4vw;
    bottom: 4.8vw;
    font-size: 2.5vw;
    text-align: center;
    line-height: 1.5vw;
}

.kmh {
    font-size: 0.85vw;
    color: rgba(255, 255, 255, 0.384);
}

#speed-back {
    width: 30vw;
    position: relative;
}

#speed-arrow {
    position: absolute;
    width: 1.5vw; /* Ширина стрелки */
    height: 15vw; /* Длина стрелки */
    background-color: #ff0000; /* Цвет стрелки */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform-origin: center bottom; /* Точка вращения стрелки */
    transform: rotate(0deg); /* Начальное положение стрелки */
    border-radius: 0.2vw;
    z-index: 5; /* Поверх остальных элементов */
}

.indicators {
    position: absolute;
    bottom: 1.3vw;
    left: 0.9vw;
}

.indication-container {
    margin-top: 0.7vw;
    display: flex;
    align-items: center;
    font-family: 'Font 700';
    color: #fff;
}

/* Медиазапросы для адаптивности */
@media (max-width: 1920px) {
    #speed-text {
        right: 4vw;
        bottom: 4.8vw;
        font-size: 2.5vw;
    }
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
    }
    #speed-arrow {
        width: 1.3vw;
        height: 13vw;
    }
}

@media (max-width: 1366px) {
    #speed-text {
        right: 4vw;
        bottom: 4.8vw;
        font-size: 2.8vw;
    }
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
    }
    #speed-arrow {
        width: 1.1vw;
        height: 11vw;
    }
}

@media (max-width: 1280px) {
    #speed-text {
        right: 4vw;
        bottom: 4.8vw;
        font-size: 2.8vw;
    }
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
    }
    #speed-arrow {
        width: 1vw;
        height: 10vw;
    }
}
