#speed-car {
    position: absolute;
    right: 0.05vw;
    bottom: 0.05vw;
}

#speed-text {
    font-family: 'Font 700';
    color: #2a4ed6;
    position: absolute;
    right: 4vw;
    bottom: 4.8vw;
    font-size: 2.5vw;
    text-align: center;
    line-height: 1.5vw;
        display: flex;
    opacity: 0.7;
  }
  .digit {
    width: 0.4em;
    margin-right: 0.05em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .digit:first-child {
    margin-left: -0.25em;
  }
  .kmh {
    font-size: 0.7em;
    margin-left: 0.05em;
  }
.indicators {
    position: absolute;
    bottom: 1.3vw;
    left: 0.9vw;
}

.indication-container {
    margin-top: 0.7vw;
    display: flex;
    align-items: center;
    font-family: 'Font 700';
    color: #fff;
}

#speed-back {
    width: 30vw;
}

.icon-engine, .icon-lock, .icon-key, .icon-lights {
    position: absolute;
}

@media (max-width: 1920px){
    #speed-text {
        right: 4vw;
        bottom: 4.8vw;
        width: 100px;
        font-size: 2.5vw;
		    display: flex;
    opacity: 0.7;
  }
  .digit {
    width: 0.4em;
    margin-right: 0.05em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .digit:first-child {
    margin-left: -0.25em;
  }
  .kmh {
    font-size: 0.7em;
    margin-left: 0.05em;
  }
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
    }
    .icons-speed {
        bottom: 2vw;
        right: 12.5vw;
    }
    .icon-engine {
        bottom: 1vw;
        right: 11.8vw;
    }
    .icon-lock {
        bottom: 7.2vw;
        right: 13vw;
    }
    .icon-lights {
        bottom: 12.5vw;
        right: 9vw;
    }
    .icon-key {
        bottom: 13vw;
        right: 2vw;
    }
}

@media(max-width: 1366px){
    #speed-text {
        right: 4vw;
        bottom: 4.8vw;
        width: 70px;
        font-size: 2.8vw;
           display: flex;
    opacity: 0.7;
  }
  .digit {
    width: 0.4em;
    margin-right: 0.05em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .digit:first-child {
    margin-left: -0.25em;
  }
  .kmh {
    font-size: 0.7em;
    margin-left: 0.05em;
  }
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
        font-size: 1.1vw;
    }
    .indicators img {
        width: 2.7vw;
    }
    .icons-speed {
        bottom: 2vw;
        right: 12.5vw;
    }
    .icon-engine {
        bottom: 1vw;
        right: 11.8vw;
    }
    .icon-lock {
        bottom: 7.2vw;
        right: 13vw;
    }
    .icon-lights {
        bottom: 12.65vw;
        right: 9vw;
    }
    .icon-key {
        bottom: 13vw;
        right: 2vw;
    }    
    .icon-key img {
        width: 2.5vw;
    }
    .icon-lights img {
        width: 2.5vw;
    }
    .icon-lock img {
        width: 2.5vw;
    }
    .icon-engine img {
        width: 2.5vw;
    }            
}

@media (max-width: 1280px){
    #speed-text {
        right: 4vw;
        width: 65px;
        bottom: 4.8vw;
        font-size: 2.8vw;
	    display: flex;
    opacity: 0.7;
  }
  .digit {
    width: 0.4em;
    margin-right: 0.05em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .digit:first-child {
    margin-left: -0.25em;
  }
  .kmh {
    font-size: 0.7em;
    margin-left: 0.05em;
  }
    .indicators {
        bottom: 1.3vw;
        left: 0.9vw;
        font-size: 1.1vw;
    }
    .indicators img {
        width: 2.7vw;
    }
    .icon-engine {
        bottom: 1vw;
        right: 11.8vw;
    }
    .icon-lock {
        bottom: 7.2vw;
        right: 13vw;
    }
    .icon-lights {
        bottom: 12.65vw;
        right: 9vw;
    }
    .icon-key {
        bottom: 13vw;
        right: 2vw;
    }    
    .icon-key img {
        width: 2.5vw;
    }
    .icon-lights img {
        width: 2.5vw;
    }
    .icon-lock img {
        width: 2.5vw;
    }
    .icon-engine img {
        width: 2.5vw;
    }        
}